body {
  margin: 0;
  padding: 0;
  height: 1700px;
}

#background__img {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

#background__logo {
  max-width: 40vw;
  max-height: 40vh;
  position: fixed;
  left: 30vw;
  top: 20vh;   
}